/*ANIMACIONES*/

@keyframes jello {
    from,11.1%,to {transform: translate3d(0, 0, 0);}
    22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
    33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
    44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
    55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
    66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
    77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
    88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}
@keyframes shakefix {
    0%  {transform: translate(1px, 1px);}
    10% {transform: translate(-1px, -2px);}
    20% {transform: translate(-3px, 0px);}
    30% {transform: translate(3px, 2px);}
    40% {transform: translate(1px, -1px);}
    50% {transform: translate(-1px, 2px);}
    60% {transform: translate(-3px, 1px);}
    70% {transform: translate(3px, 1px);}
    80% {transform: translate(-1px, -1px);}
    90% {transform: translate(1px, 2px);}
    100% {transform: translate(1px, -2px);}
}

    /* animation kenburns-right*/

    @-webkit-keyframes kenburns-right {
        0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
                transform-origin: 84% 50%;
        }
        100% {
        -webkit-transform: scale(1) translateX(20px);
                transform: scale(1) translateX(20px);
        -webkit-transform-origin: right;
                transform-origin: right;
        }
    }
    @keyframes kenburns-right {
        0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
                transform-origin: 84% 50%;
        }
        100% {
        -webkit-transform: scale(1) translateX(-100px);
                transform: scale(1) translateX(-100px);
        -webkit-transform-origin: right;
                transform-origin: right;
        }
    }
    
 /* animation slide-in-elliptic-top-fwd */

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
        opacity: 1;
        }
    }
    @keyframes slide-in-elliptic-top-fwd {
        0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        opacity: 0;
        }
        100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
        opacity: 1;
        }
    }