/*Excursiones*/

.fondo-dos{
    background: linear-gradient(#259bf1, #bfbfbf);
    section h2{
        font-size: $font-title;
        color: $color-title;
        text-shadow: $shadow-title;
        font-size: 10vw;
        text-align: center;
        padding: 15px;
    }
    section h2:hover{
        animation-name: jello;
        -webkit-animation-name: jello;
        -moz-animation-name: jello;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    transform-origin: center;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
    }
    p{
        font-family: $font-parr;
        text-align: center;
        font-size: 6vw;
        margin: 0px 20px 0px 20px;
    }
}

.card{
    background-color: #0071c2;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px 20px 25px;
    border: solid 1px black;
    box-shadow: 5px 5px 5px black;
    h3{
        color: red;
        font-family: $font-parr;
        font-size: 10vw;
        transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    h3:hover{
        transform: translatex(30px);
        -webkit-transform: translatex(30px);
        -moz-transform: translatex(30px);
    }
    img{
        width: auto;
        border-radius: 15px;
        background-size: cover;
    }
    ul{
        font-size: 5vw;
    }
    .btn-card{
        a{
        font-size: 5vw;
        }
        img{
            width: 10vw;
        }
    }
    .btn-card:hover{
        animation-name: shakefix;
        -webkit-animation-name: shakefix;
        -moz-animation-name: shakefix;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
    }
}

.contenedor-exc{
    margin: 5%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 375px){

}

@media (min-width: 425px){
    .fondo-dos{
        section h2{
            font-size: 7vw;
        }
        p{
            font-size: 5vw;
        }
    }
}

@media (min-width: 768px){
    .contenedor-exc{
        flex-direction: row;
    }
    .card{
        h3{
            font-size: 6vw;
        }
        ul{
            font-size: 3vw;
        }
        .btn-card{
            a{
            font-size: 3vw;
            }
            img{
                width: 7vw;
            }
        }
        img{
            width: auto;
        }
        .carousel-item{
            width: 100%;
        }
    }
}

@media (min-width: 1024px){
    .card{
        h3{
            font-size: 5vw;
        }
        ul{
            font-size: 3vw;
        }
        .btn-card{
            a{
            font-size: 2vw;
            }
            img{
                width: 5vw;
            }
        }
    }
    .fondo-dos{
        section h2{
            font-size: 7vw;
        }
        p{
            font-size: 4vw;
        }
    }
}

@media (min-width: 1440px){
    .card{
        h3{
            font-size: 4vw;
        }
        ul{
            font-size: 3vw;
        }
        margin: 50px;
        .btn-card{
            a{
            font-size: 2vw;
            }
            img{
                width: 5vw;
            }
        }
    }
    .fondo-dos{
        section h2{
            font-size: 4vw;
        }
        p{
            font-size: 2vw;
        }
    }
}