/*Excursiones*/

.fondo-dos{
    background: linear-gradient(#259bf1, #bfbfbf);
    section h2{
        font-size: $font-title;
        color: $color-title;
        text-shadow: $shadow-title;
        font-size: 10vw;
        text-align: center;
        padding: 15px;
    }
    section h2:hover{
        @include animation-jello;
    }
    p{
        font-family: $font-parr;
        text-align: center;
        font-size: 6vw;
        margin: 0px 20px 0px 20px;
    }
}

.card{
    background-color: #0071c2;
    box-shadow: 5px 5px 5px black;
    h3{
        color: red;
        font-family: $font-parr;
        font-size: 10vw;
        transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    h3:hover{
        transform: translatex(30px);
        -webkit-transform: translatex(30px);
        -moz-transform: translatex(30px);
    }
    ul{
        font-size: 5vw;
    }
    .btn-card{
        a{
        font-size: 5vw;
        }
    }
    .btn-card:hover{
        @include animation-shakefix;
    }
}

@media (min-width: 375px){

}

@media (min-width: 425px){
    .fondo-dos{
        section h2{
            font-size: 7vw;
        }
        p{
            font-size: 5vw;
        }
    }
}

@media (min-width: 768px){
    .card{
        h3{
            font-size: 6vw;
        }
        ul{
            font-size: 3vw;
        }
        .btn-card{
            a{
            font-size: 3vw;
            }
            img{
                width: 7vw;
            }
        }
        .carousel-item{
            width: 100%;
        }
    }
}

@media (min-width: 1024px){
    .card{
        h3{
            font-size: 5vw;
        }
        ul{
            font-size: 3vw;
        }
        .btn-card{
            a{
            font-size: 2vw;
            }
            img{
                width: 5vw;
            }
        }
    }
    .fondo-dos{
        section h2{
            font-size: 7vw;
        }
        p{
            font-size: 4vw;
        }
    }
}

@media (min-width: 1440px){
    .card{
        h3{
            font-size: 4vw;
        }
        ul{
            font-size: 3vw;
        }
        margin: 50px;
        .btn-card{
            a{
            font-size: 2vw;
            }
            img{
                width: 5vw;
            }
        }
    }
    .fondo-dos{
        section h2{
            font-size: 4vw;
        }
        p{
            font-size: 2vw;
        }
    }
}