/*Formulario*/

.fondo{
    background: $back-fondo;
    padding: 1rem;
    img{
        width: 100%;
        border-radius: 15px;
    }
    
}

.form{
    padding: 10px;
    fieldset{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    p{
        @include titulos-decoration;
        @include titulos-position;
    }
    legend:hover{
        animation-name: jello;
        -webkit-animation-name: jello;
        -moz-animation-name: jello;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    transform-origin: center;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
    }
    form fieldset label{
        text-align: center;
        font-size: 20px;
    }
    form fieldset input{
        text-align: center;
    }
}

.form-dos{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    div{
        padding: 2%;
        text-align: center;
    }
    div input{
        padding: 3%;
        margin: 5px;
    }
    .input1{
        background-color: gray;
        border-color: black;
        border-radius: 15px;
    }
    .input2{
        font-size: 20px;
        background-color:red;
        border-color: black;
        border-radius: 15px;
    }
    .input2:hover{
        @include animation-shakefix;
    }
    fieldset p{
            padding: 15px;
    }
    fieldset p:hover{
        @include animation-jello;
    }
    fieldset select{
        text-align: center;
        width: 80%;
        font-size: 20px;
    }
    fieldset select option{
        font-size: 20px;
    }
}


@media (min-width: 375px){
    .form{
        p{
            font-size: 38px;
        }
        form fieldset label{
            font-size: 25px;
        }
    }
    .form-dos
        fieldset p{
                font-size: 33px;
        }
        fieldset select{
            text-align: center;
            width: 80%;
            font-size: 25px;
        }
        fieldset select option{
            font-size: 25px;
        }
        .input1{
            font-size: 20px;
        }
        .input2{
            font-size: 25px;
        }
    }

@media (min-width: 425px){
    .form{
        p{
            font-size: 45px;
        }
        form fieldset label{
            font-size: 30px;
        }
    }
    .form-dos
        fieldset p{
                text-align: center;
                font-family: $font-title; 
                color: $color-title;
                font-size: 43px;
                text-shadow: 4px 4px 4px black;
        }
        fieldset select{
            text-align: center;
            width: 80%;
            font-size: 30px;
        }
        fieldset select option{
            font-size: 30px;
        }
        .input1{
            font-size: 15px;
        }
        .input2{
            font-size: 30px;
        }
    }

@media (min-width: 768px){
    .fondo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
        "img form1"
        "form2 form2"
        ;
        section img{
            grid-area: img;
            text-align: center;
            justify-content: center;
        }
        .form{grid-area: form1;}
        .form-dos{grid-area: form2;} 
    }
    .form{
        form p{
            font-size: 35px;
        }
        form fieldset label{
            font-size: 18px;
        }
        form fieldset input{
            font-size: 13px;
        }
    }
}

@media (min-width: 1024px){
    .fondo{
        section img{
            text-align: center;
            justify-content: center;
        }
        .form{
            form p{
                font-size: 40px;
            }
            form fieldset label{
                font-size: 25px;
            }
            form fieldset input{
                font-size: 15px;
            }
        }
        .form-dos{
            grid-area: form2;
            .input1{
                font-size: 33px;
            }
            .input2{
                font-size: 43px;
            }
        } 
    }
}


@media (min-width: 1440px){
    .fondo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
        "img form1"
        "form2 form2"
        ;
        section img{
            grid-area: img;
            text-align: center;
            justify-content: center;
        }
        .form-dos{
            grid-area: form2;
            fieldset p{
                    text-align: center;
                    font-size: 70px;
                    text-shadow: 4px 4px 4px black;
            }
            fieldset select{
                text-align: center;
                width: 80%;
                font-size: 30px;
            }
            fieldset select option{
                font-size: 40px;
            }
            .input1{
                font-size: 20px;
            }
            .input2{
                font-size: 30px;
            }
        } 
        .form{
            grid-area: form1;
            form p{
                font-size: 70px;
            }
            form fieldset label{
                font-size: 35px;
            }
            form fieldset input{
                font-size: 25px;
            }
        }
    }
}
