/*Header*/

.header{
    background-color: #259BF1;
    h1{
        font-family: $font-title;
        margin: 0px;
    }
    img{
        width: 120px;
        text-align: center;
    }
    a{
        margin: 0px;
    }
}
.coment-header{
    margin: 0px;
}




@media (min-width: 450px){
    .parrafo{
        font-size: 15px;
    }
    .title{
        font-size: 23px;
    }
    .btn{
        font-size: 18px;
    }
    .coment-header{
        font-size: 20px;
    }
}

@media (min-width: 576px){
    .parrafo{
        font-size: 20px;
    }
    .title{
        font-size: 26px;
    }
    .btn{
        font-size: 24px;
    }
    .coment-header{
        font-size: 22px;
    }
}

@media (min-width: 992px){
    .parrafo{
        font-size: 38px;
    }
    .title{
        font-size: 42px;
    }
    .btn{
        font-size: 35px;
    }
    .coment-header{
        font-size: 26px;
    }
}

@media (min-width: 1200px){
    .parrafo{
        font-size: 40px;
    }
    .title{
        font-size: 50px;
    }
    .coment-header{
        font-size: 30px;
    }
}