/*Main*/

.main-index{
    background: #BFBFBF;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .contenedor-img{
        background-size: cover;
        max-width: 100% !important;
        height: auto;
        .img-fondo-1{
            display: none;
        }
        .img-fondo-2{
            width: 100%;
        }
    p{
        font-size: 8vw;
        display: flex;
        position: absolute;
        top:35%;
        left:80%;
        width: auto;
        font-family: $font-title;
        color: $color-title;
        text-shadow: $shadow-title;
        text-orientation: upright;
        writing-mode: vertical-rl;
        opacity: 1;
    }
}
}

.title-index{
    background: rgb(37,155,241);
    background: linear-gradient(180deg, rgba(37,155,241,1) 0%, rgba(191,191,191,1) 50%, rgba(37,155,241,1) 100%);
    border-radius: 15px;
    margin: 1rem 1rem;
    justify-content: center;
    text-align: center;
    padding: 15px;
    h2{
    font-family: $font-title;
    color: $color-title;
    text-shadow: $shadow-title;
    font-size: 8vw;
    }
    h2:hover{
        @include animation-jello;
    }
    p{
        font-family: $font-parr;
        padding: 15px;
        font-size: 6vw;
    }
    .button{
        @include animation-shakefix;
        a{
            font-size: 7vw;
        color: black;
        text-decoration: none;
        }
        width:50%;
    }
}


@media (min-width: 375px){
    .title-index{
        h2{
            font-size: 9vw;
        }
    }
}

@media (min-width: 425px){
    .title-index{
        h2{
            font-size: 8vw;
        }
        p{
            font-size: 5vw;
        }
    }
}

@media (min-width: 600px){
    .title-index{
        h2{
            font-size: 7vw;
        }
        p{
            font-size: 4vw;
        }
    }
}

@media (min-width: 768px){
    .main-index{
        align-items: end;
        justify-content: center;
        div img{
            width: 100%;
            animation: none;
        }
        .contenedor-img{
            p{
                display: none;
            }
            .img-fondo-1{
                display: block;
                width: 100%;
            }
            .img-fondo-2{
                display: none;
            }
        }
    }
    .title-index{
        display: flex;
        position:absolute;
        flex-direction: column;
        background-color: transparent;
        background: none;
        text-align: left;
        h2{
            font-size: 5vw;
        }
        p{
            font-size: 3vw;
            width: 500px;
        }
        button{
            margin-right: 50px;
        }
        button a{
            font-size: 4vw;
        }
    }
}

@media (min-width: 1024px){
    .title-index{
        h2{
            font-size: 4vw;
        }
        p{
            font-size: 2.5vw;
            width:650px;
        }
        button{
            margin-right: 50px;
        }
        button a{
            font-size: 3vw;
        }
    }
}

@media (min-width: 1440px){
    .title-index{
        h2{
            font-size: 3vw;
        }
        p{
            font-size: 2.5vw;
        }
        button{
            margin-right: 50px;
        }
        button a{
            font-size: 2.5vw;
        }
    }
    .main-index{
        div{
        width: 100%;
        justify-content: center;
        background-position-x: -200px;
        }
        .title-index{
            width: 50%;
        }
    }
}