/*Nosotros*/

.fondo-nos{
    background: $back-fondo
}

.nos-item1{
    width: 100%;
    padding: 15px;
    align-items: center;
    text-align: center;
    img{
    width: 100%;
    background-size: contain;
    border-radius: 15px;
    }
    div{
        width: 100%;
    }
    h3{
        font-family: $font-title; 
        font-size: 35px;
        color: $color-title;
        text-shadow: 5px 5px 5px black;
    }
    h3:hover{
        @include animation-jello;
    }
    p{
        font-family: $font-parr;
        font-size: 15px;
        margin: 10px;
    }
    iframe{
        background-size: contain;
        width: 100%;
        border-radius: 25px;
    }
}

.grupo-equipo{
    background: rgb(37,155,241);
    background: linear-gradient(180deg, rgba(37,155,241,1) 0%, rgba(191,191,191,1) 50%, rgba(37,155,241,1) 100%);
    border-radius: 15px;
    margin: 0rem 1rem;
    justify-content: center;
    text-align: center;
    padding: 15px;
    h3{
        padding: 10px;
        @include titulos-decoration;
    }
    h3:hover{
        @include animation-jello;
    }
    .equipo{ 
        div{
            width: auto;
        }
        div img{
        width: 100%;
        border-radius: 50%;
        padding: 7%;
        }
        h4{
        font-family: $font-parr;
        font-size: 25px;
        }
        a{
            img{
                width: 50px;
            }
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 30px;
            text-decoration: none;
        }
        p{
            font-family: $font-parr;
            font-size: 18px;
            margin: 25px;
        }
    }
    .name-equipo{
        font-size: 35px;
        margin:1rem;
        font-weight: bold;
    }
}

    @media (min-width: 375px){
        .nos-item1{
            h3{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
        }
        .grupo-equipo{
            padding: 15px;
            h3{
                font-size: 35px;
            }
        .equipo{
            h4{
                font-size: 30px;
            }
            a{
                font-size: 35px;
            }
            p{
                font-size: 25px;
            }
        }
        }
    }
    
    @media (min-width: 425px){
        .nos-item1{
            h3{
                font-size: 42px;
            }
            p{
                font-size: 25px;
            }
        }
        .grupo-equipo{
            h3{
                font-size: 45px;
            }
            .equipo{
                h4{
                    font-size: 35px;
                }
                a{
                    font-size: 40px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
    }
    
    @media (min-width: 768px){
        .nos-item1{ 
            display: flex;
            h3{
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
        }
        .grupo-equipo{
            h3{
                font-size: 45px;
            }
            div{
                display: flex;
                text-align: center;
            }
            .equipo{
                flex-direction: column;
                width: 100%;
                height: 100%;
                img{
                    text-align: center;
                }
                h4{
                    font-size: 25px;
                }
                a{
                    font-size: 35px;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
    
    @media (min-width: 1024px){
        .nos-item1{
            h3{
                font-size: 50px;
            }
            p{
                font-size: 25px;
            }
        }
        .grupo-equipo{
            h3{
                font-size: 40px;
            }
            div{
                display: flex;
                text-align: center;
            }
            .equipo{
                flex-direction: column;
                width: 100%;
                height: 100%;
                img{
                    text-align: center;
                }
                h4{
                    font-size: 29px;
                }
                a{
                    font-size: 39px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
    }

    @media (min-width: 1444px){
        .nos-item1{
            h3{
                font-size: 55px;
            }
            p{
                font-size: 30px;
            }
        }
        .grupo-equipo{
            h3{
                font-size: 55px;
            }
            div{
                display: flex;
                text-align: center;
            }
            .equipo{
                flex-direction: column;
                width: 100%;
                height: 100%;
                img{
                    text-align: center;
                }
                h4{
                    font-size: 35px;
                }
                a{
                    font-size: 45px;
                }
                p{
                    font-size: 30px;
                }
            }
        }
    }