/*Nosotros*/

.flex-container{
    background: linear-gradient(#259bf1, #bfbfbf);
}

.nos-item1{
    width: 100%;
    padding: 15px;
    align-items: center;
    text-align: center;
    img{
    width: 100%;
    background-size: contain;
    border-radius: 25px;
    }
    div{
        width: 100%;
    }
    h3{
        font-family: 'Rubik', sans-serif; 
        font-size: 35px;
        color: red;
        text-shadow: 5px 5px 5px black;
    }
    p{
        font-size: 15px;
    }
    iframe{
        background-size: contain;
        width: 100%;
        border-radius: 25px;
    }
}

.grupo-equipo{
    justify-content: center;
    text-align: center;
    padding: 15px;
    h3{
        font-family: 'Rubik', sans-serif; 
        font-size: 35px;
        color: red;
        text-shadow: 5px 5px 5px black;
    }
}

    @media (min-width: 450px){
        .nos-item1{
            h3{
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    
    @media (min-width: 576px){
        .nos-item1{
            h3{
                font-size: 45px;
            }
            p{
                font-size: 25px;
            }
        }
    }
    
    @media (min-width: 992px){
        .nos-item1{
            display: flex;
            h3{
                font-size: 45px;
            }
            p{
                font-size: 25px;
            }
        }
    }
    
    @media (min-width: 1200px){
        .nos-item1{
            h3{
                font-size: 50px;
            }
            p{
                font-size: 35px;
            }
        }
    }